extends partials/templates/_template.pug

block content
  +b.SECTION.page--call
    +e.flex-wrapper
      +e.left   
        // Left sidebar
        include partials/components/_left-sidebar.pug 

      +e.page__center
        // Nav
        include partials/components/_nav.pug
        // Content
        +b.SECTION.content
          +e.H1.title Заказ звонка
          +e.text
          +e.form
            // Form call
            include partials/components/_form--call.pug  
                          
      +e.page__right
        // Right sidebar
        include partials/components/_right-sidebar.pug 




