extends partials/templates/_template.pug

block content
  +b.SECTION.page--application
    +e.flex-wrapper
      +e.left   
        // Left sidebar
        include partials/components/_left-sidebar.pug 

      +e.page__center
        // Nav
        include partials/components/_nav.pug
        // Content
        +b.SECTION.content
          +e.H1.title Рассчитать стоимость документа
          +e.text
            p Вам необходимо оформить сертификат, декларацию, разработать нормативно — технический документ и вас интересует стоимость и сроки готовности? Воспользуйтесь нашей формой расчета.
            p Ваша заявка поступит в один из офисов наших партнеров. Каждый запрос обрабатывается менеджером индивидуально.
            p В течение двух часов вам будет подготовлено полное коммерческое предложение со стоимостью и сроками оформления документа.
            p
              em * вся поступившая нам информация остается конфиденциальной и не передается третьим лицам.
          +e.form
            // Form application
            include partials/components/_form--application.pug
                          
      +e.page__right
        // Right sidebar
        include partials/components/_right-sidebar.pug 




