extends partials/templates/_template.pug

block content
  +b.SECTION.page
    +e.flex-wrapper
      +e.left   
        // Left sidebar
        include partials/components/_left-sidebar.pug 

      +e.page__center
        // Nav
        include partials/components/_nav.pug
        // Content
        +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
          +e.H1.title(itemprop="headline") Декларация о соответствии
          +e.text(itemprop="articleBody") 
            p 
              strong Декларация о соответствии
              | – это специальный документ, оформляющийся на продукцию, которая должна соответствовать государственным нормативным требованиям и стандартам качества. 
              a(href="page.html") Сертификат соответствия
              | и декларацию соответствия относят к формам подтверждения качества продукции.
            p 
              strong ВНИМАНИЕ: 
              | Декларацию о соответствии продукции можно оформлять только на российского заявителя, необходимо указание контракта (
              strong Федеральный Закон «О техническом регулировании» от 27 декабря 2002 года, номер 184-ФЗ, ст. 24
              | ).
            p 
              strong Сертификация и декларирование 
              | – очень похожие процедуры, отличающиеся в основном форматом бланков, на которых оформляются сертификат соответствия и декларация соответствия, а также степенью ответственности за качество продукции. Официальной формы бланка для декларации о соответствии не существует, а сертификат соответствия ГОСТ Р должен оформляться на официальном бланке желтого цвета. При декларировании продукции ее производитель несет ответственность в вопросе качества товара сам, а при сертификации качество продукции подтверждает орган по сертификации, т.е. третья независимая сторона.
            p Зимой 2010 года Правительство РФ приняло Постановление от 01.12.2009 №982, согласно которому вступили в действие две номенклатуры, одна из которых определяет продукцию, подлежащую декларированию, а вторая – сертификации. В разделе «
              a(href="page.html") Перечень на декларирование
              | » можно ознакомиться с обеими номенклатурами.
            p Декларация о соответствии должна содержать следующую информацию: адрес и наименование производителя, ГОСТ, срок действия декларации, номер протокола испытаний, 2 печати – компании-производителя и сертификационного органа.
            p
              strong Регистрацию и выдачу декларации о соответствии осуществляют органы по сертификации после ее заполнения производителем. Также как и сертификат соответствия, декларация соответствия продукции имеет юридическую силу на территории всей Российской Федерации.
            h2 Заголовок текста h2
            h3 Заголовок текста h3
            h4 Заголовок текста h4
            h5 Заголовок текста h5
            h2 Маркированный список
            ul
              li уставные документы компании;
              li бухгалтерская отчетность за последние полгода;
              li сертификаты соответствия или другие документы, подтверждающие качество и безопасность предлагаемой продукции или услуг;
              li иногда требуется предоставить лицензии, выданные уполномоченными и специальными органами РФ, в зависимости от вида работ или услуг, которые компания планирует предоставлять;
              li опись вышеуказанных документов должна прилагаться к пакету.                  
            h2 Нумерованный список
            ol
              li уставные документы компании;
              li бухгалтерская отчетность за последние полгода;
              li сертификаты соответствия или другие документы, подтверждающие качество и безопасность предлагаемой продукции или услуг;
              li иногда требуется предоставить лицензии, выданные уполномоченными и специальными органами РФ, в зависимости от вида работ или услуг, которые компания планирует предоставлять;
              li опись вышеуказанных документов должна прилагаться к пакету.
            h2 Цитата
            blockquote Профессионалы помогут подготовить необходимый пакет документов, и на протяжении всей процедуры тендера будут контролировать соблюдение прав заявителя. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест Урал помогут в его оформлении оперативно и в полном соответствии с действующим российским законодательством. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест Урал помогут в его оформлении оперативно и в полном соответствии с действующим российским законодательством. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест.
        // Navigation
        +b.navigation
          +e.link--prev(href="page.html") Сертификат соответствия Таможенного Союза
          +e.link--next(href="page.html") Декларация соответствия Таможенного Союза
        // Content form
        +b.content-form
          +e.H2.title Возник вопрос по сертификации?
          +e.text
            p Воспользуйтесь формой обратной связи!
            p Получите бесплатную консультацию от квалифицированного специалиста!
          +e.form
            // Form question
            include partials/components/_form--question.pug

                          
      +e.page__right
        // Right sidebar
        include partials/components/_right-sidebar.pug 




