.advantages{
  
  &__title{
    text-align: center;
    color: $orange;
    margin: 10px 0;
    font-size: $font-size-title;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    // display: flex;
    // flex-wrap: wrap;
  }
  &__item{
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;      
      border-radius: 3px;
    }
    &:nth-of-type(1){
      &:before{
        background-color: $light-orange;
      }      
    }
    &:nth-of-type(2){
      &:before{
        background-color: $light-green;
      }      
    }
    &:nth-of-type(3){
      &:before{
        background-color: $light-blue;
      }      
    }
    &:nth-of-type(4){
      &:before{
        background-color: $light-violet;
      }      
    }
  }
}

