.btn{
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 5px;
  color: $text-color;
  font-size: $font-size-btn;
  padding: 10px 20px;
  margin: 0;

  &:hover, &:focus, &:active{
    // text-decoration: none;
  }
  &--violet-header{
    color: $black;
    background-image: linear-gradient(0deg, rgba(224, 95, 216, 227) 5.2%, rgba(225, 99, 216, 227) 5.2%, rgba(236, 151, 231, 227) 50%, rgba(244, 175, 242, 227) 76.3%, rgba(248, 186, 247, 227))
  }
  &--orange{
    color: #785000;
    background: linear-gradient(#ffedc9, #ffcc65);
  }
  &--green{
    color: #19921b;
    background: linear-gradient(#e9ffcb, #c7f370);
  }
  &--blue{
    color: #153558;
    background: linear-gradient(#d5e3f3, #87b2de);
  }
  &--violet{
    color: $black;
    background: linear-gradient(#f7d5fc, #edaff6);
  }
  &--orange-bright{
    @include transition();
    color: $text-color-white;
    background-color: #fb7901;
    background-image: linear-gradient(0deg, #fb7b01 5.1%, #fb9b04);
    &:hover, &:focus, &:active{
      color: $text-color-white;
      background-image: none;      
    }
  }


  &--form{
    margin-left: 200px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid $white;
    background-color: #fc7900;
    color: $text-color-white;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    // @include mq($from:xs, $until:md){
    //   margin-left: 0;
    // }
    
    &:hover, &:focus, &:active{
      // background-color: $blue;
      // color: $text-color-white;
    }
  }
  &--quiz{
    background-color: $blue;
    color: $text-color-white;
    font-size: $font-size-smaller;
    padding: 5px 10px;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: $text-color-white;
    }
  }
}

