.certification-links{
  margin: 0 15px;
  background-color: $lightest-grey;
  columns: 2;
  @include mq($from:xs, $until:sm){
    columns: 1;
  }

  &__block{
    width: 100%;
    padding: 0 15px;
    display: inline-block;
    padding-bottom: 20px;
  }
  &__title{
    margin: 15px 0;
    padding: 5px 10px;
    font-size: $font-size-bigger;
    font-weight: normal;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(153,153,153,.3), transparent 75%);
  }
  &__title-link{
    color: $text-color;
  }
  &__list{
    font-size: $font-size-smaller;
    margin: 10px 0;
    list-style-type: none;
    padding-left: 20px;
  }
  &__sublist{
    list-style-type: none;
    padding-left: 20px;
  }
}

