.content{
  padding: 0 15px;
  &:after{
    content: '';
    display: table;
    clear: both;
  } 

  &__title{
    font-weight: normal;
    margin: 20px 0;
    font-size: $font-size-title2;
    // line-height: 1.2;
  }
  &__text{
    h1, h2, h3, h4, h5, h6{
      font-weight: normal;
    }
    blockquote{
      margin-left: 20px;
      padding-left: 20px;
      border-left: 3px solid $blue;
      font-style: italic;
    }   
  }
  &__form{
    max-width: 550px;
    margin: 0 auto;
  }
  // &__img{
  //   max-width: 300px;
  //   float: left;
  //   margin-right: 40px;
  //   margin-bottom: 20px;
  // }
}


.content-form{
  margin-bottom: 30px;
  padding: 0 15px;
  text-align: center;
  
  &__title{
    margin: 10px 0;
    font-size: $font-size-title2;
    font-weight: normal;
  }
  &__text{
    margin-bottom: 10px;
  }
  &__form{
    max-width: 550px;
    margin: 0 auto;
  }
}



