.nav{
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include mq($from:xs, $until:md){
      padding: 0 15px;
    }
  }
  &__item{
    margin-bottom: 20px;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
    }
    .btn{
      width: 100%;
    }
  }
  &__hamburger{
    display: none;
    text-align: center;
    margin-bottom: 10px;
    @include mq($from:xs, $until:lg){
      display: block;
    }    
  }
}

.hamburger{
  display: inline-block;
  padding: 17px 6px;
  background: linear-gradient(#d5e3f3, #87b2de);
  border-radius: 3px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 4px;
    background-color: $white;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: $white;
    }
    &:before{
      transform: translateY(-10px);
    }    
    &:after{
      transform: translateY(6px);
    }    
  }
}
