.news-section{ 
  margin-bottom: 40px;
  padding: 0 15px 30px;
  &__title{
    font-weight: normal;
    font-size: $font-size-title;
  }
  &__link{
    display: block;
    margin: 10px 0;
  }
}

.news-section-item{
  &__title{
    font-weight: normal;
    margin: 20px 0;
    font-size: $font-size-title2;
  }
  &__date{
    font-size: $font-size-small;
    margin-bottom: 10px;
  }
}