.quiz{
  display: none;
  background-color: $white;
  padding: 15px;
  &__title{
    margin: 0 0 20px;
    font-size: $font-size-title;
  }
}

.quiz-step{
  display: none;
  &--01{
    display: block;
  }

  &__title{
    margin: 10px 0;
    font-size: $font-size-bigger;
  }
  &__label{
    display: block;
  }
  &__input{
    margin-right: .5em;
    display: inline-block;
    vertical-align: middle;
  }
  &__fieldset{
    margin-bottom: 20px;
  }
  &__btn{
    text-align: right;
  }
}
