include ../abstracts/bemto/bemto.pug

+b.SECTION.advantages
  +e.inner
    +e.H2.title Почему с нами удобно работать:         
    +e.UL.list
      +e.item Портал ФОРУМТЕСТ предоставляет возможность быстро узнать интересующую Вас информацию по тому, как быстро, пройти сертификацию продукции и услуг. В какую стоимость для вас обойдется оформление документа.
      +e.item Также специалисты со всей страны смогут ответить на любой ваш вопрос по сертификация продукции, услуг, выполняемых работ, а также сертификации менеджмента качества по международным стандартам ISO.
      +e.item После консультации у вас не останется вопросов, а как же законно продавать товары, завезенные из Китая или произведенные самостоятельно.
      +e.item Мы будем рады помочь вам разобраться в каждом интересующем вас вопросе, как пройти сертификацию и получить все нужные документы.


