include ../abstracts/bemto/bemto.pug


+b.SECTION.certification-links
  +e.block
    +e.H2.title
      +e.A.title-link(href='page.html') Все о Сертификации         
    +e.UL.list
      +e.item
        +e.link(href='page.html') Сертификация
        +e.UL.sublist
          +e.item
            +e.link(href='page.html') Обязательная сертификация
          +e.item
            +e.link(href='page.html') Добровольная сертификация
      +e.item
        +e.link(href='page.html') Декларирование
        +e.UL.sublist
          +e.item
            +e.link(href='page.html') Пожарное декларирование
          +e.item
            +e.link(href='page.html') Понятие декларирования
          +e.item
            +e.link(href='page.html') Таможенное декларирование
      +e.item
        +e.link(href='page.html') Санитарно-эпидемиологический надзор
      +e.item
        +e.link(href='page.html') Государственная регистрация
      +e.item
        +e.link(href='page.html') Таможенный союз

  +e.block
    +e.H2.title
      +e.A.title-link(href='page.html') Собираем документы         
    +e.UL.list
      +e.item
        +e.link(href='page.html') Документы на сертификат
      +e.item
        +e.link(href='page.html') Документы на декларацию
      +e.item
        +e.link(href='page.html') Документы на Госрегистрацию

  +e.block
    +e.H2.title
      +e.A.title-link(href='page.html') Полезные ссылки         
    +e.UL.list
      +e.item
        +e.link(href='page.html') Центры по сертификации
      +e.item
        +e.link(href='page.html') Государственные структуры
      +e.item
        +e.link(href='page.html') Аттестация рабочих мест
      +e.item
        +e.link(href='page.html') Международный центр сертификации РОСТЕСТ

  +e.block
    +e.H2.title
      +e.A.title-link(href='page.html') Регистрация товарных знаков 

