include ../abstracts/bemto/bemto.pug


// Footer
+b.FOOTER.footer
  +b.counters
    +e.item 
  +b.copyright ©2009-2016 
    +e.A.link(href="index.html") FORUMTEST
+b.A.docs-pic(href="page-application.html")  
+b.A.up(href="#")  

// Overlay
+b.overlay
  +e.bg
  +e.form
    +e.close(href="#")
    // Quiz
    include _quiz.pug 
