include ../abstracts/bemto/bemto.pug


+b.ASIDE.sidebar--left
  //- +e.hamburger
  //-   +b.A.hamburger(href="#")
  //-     span
  // Menu necessary
  +b.SECTION.menu--necessary(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title
      +e.A.title-link(href="page.html") Самое необходимое
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Проверка документов
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") ГОСТы
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") ОКУН
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Коды ОКП
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") ОКПд
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Коды ТНВЭД
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") ОКВЭД
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") ОКВЭД 2
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Перечень на Госрегистрацию
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Перечень на сертификат
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Перечень на декларацию
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Технические регламенты
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Законы
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Постановления
    +e.A.link-more(href="page.html") Подробнее >>

  // Menu certificates
  +b.SECTION.menu--certificates(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title
      +e.A.title-link(href="page.html") Сертификаты
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Декларация о соответствии
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Декларация соответствия Таможенного Союза
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Свидетельство государственной регистрации
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Письмо-разъяснение Роспотребнадзора
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат ЕВРО
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат Евро 5
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Добровольный сертификат
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Отказное письмо для таможни
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Отказное письмо для торговли
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Озоновое заключение
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Пожарный сертификат
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат ISO
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Технические условия
    +e.A.link-more(href="page.html") Подробнее >>

  // Menu general
  +b.SECTION.menu--general
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Частые вопросы
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Словарь по сертификации
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Где получить сертификат

  // Advertisments
  +b.SECTION.advertisments
    +e.banner
      img(src= "img/slider.gif", alt="banner", title="banner")
