include ../abstracts/bemto/bemto.pug

+b.NAV.nav
  +e.hamburger--left
    +b.A.hamburger(href="#")
      span
  +e.UL.list
    +e.item 
      +b.A.btn--orange(href="page.html") Форум
    +e.item 
      +b.A.btn--green(href="page-application.html") Рассчитать стоимость
    +e.item
      +b.A.btn--blue(href="page-questions.html") Получить консультацию
    +e.item
      +b.A.btn--violet(href="page-contacts.html") Центры сертификации
    +e.item
      +b.A.btn--orange-bright(href="#") Выиграйте скидку на оформление сертификата
  +e.hamburger--right
    +b.A.hamburger(href="#")
      span



