include ../abstracts/bemto/bemto.pug


+b.SECTION.news-section
  +e.H2.title Новости
  +e.articles
    +b.ARTICLE.news-section-item(itemscope, itemtype="http://schema.org/Article")      
      +e.H3.title(itemprop="headline") 
        +e.A.link(href="page.html") ЕЭК подписала Соглашение о правилах перемещения озоноразрушающих веществ
      +e.date(itemprop="datePublished") 31.08.2016
      +e.text(itemprop="articleSection") 29 мая 2015-го Евразийская комиссия на прошедшем заседании в Бурубае в Казахстане подписала Соглашение, согласно которому утверждаются правила перемещения и обращения на территории ЕАЭС озоноразрушающих веществ, а также продукции, их содержащей. Нормы перевозки и оценки качества также указаны в подписанном законодательном документе. О нововведениях Соответственно Соглашению перемещение озоноразрушающих веществ станет невозможным без оформления специального разрешительного […]
  +e.A.link(href="page-news.html") Все новости      

