include ../abstracts/bemto/bemto.pug


+b.ASIDE.sidebar--right
  //- +e.hamburger
  //-   +b.A.hamburger(href="#")
  //-     span
  // Date
  +b.date Сегодня:
    +e.changing
      span 9 декабря 2016
      span 13:55:42

  // Form search
  +b.form--search
    form(action='', method='')
      .form-group.field-search
        +e.INPUT.input(type='text', name='Поиск', placeholder="Поиск по сайту...")

  // Form authentification
  +b.form--authentification
    form(action='', method='')
      .form-group.field-login
        +e.description Имя пользователя
        +e.INPUT.input(type='text', name='Логин')
        p.help-block Ошибка заполнения поля формы
      .form-group.field-password
        +e.description Пароль
        +e.INPUT.input(type='password', name='Пароль')
        p.help-block Ошибка заполнения поля формы
      .form-group.field-search
        +e.INPUT.input(type='checkbox', name='Запомнить')
        +e.SPAN.remember Запомнить меня
      .form-group
        +b.BUTTON.btn--form(type='submit') Войти
    +e.A.link(href="page.html") Регистрация
    +e.A.link(href="page.html") Забыли пароль?

  // Menu production
  +b.SECTION.menu--production(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title
      +e.A.title-link(href="page.html") Сертификация продукции
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация автомобилей
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация алкоголя
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация БАД
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация дверей
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация детской одежды
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация замков
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация медицинских изделий
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация муки
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация тротуарной плитки
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация шоколада
    +e.A.link-more(href="page.html") Найти свою продукцию >>

  // Menu cost
  +b.SECTION.menu--cost(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title
      +e.A.title-link--cost(href="page-application.html") Рассчитать стоимость

  // Menu customs
  +b.SECTION.menu--customs(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title
      +e.A.title-link(href="page.html") Таможенный союз
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Постановления Таможенного Союза
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Техническое регулирование
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Санитарные меры
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Ветеринарные меры
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Карантин растений
    +e.A.link-more(href="page.html") Подробнее >>

  // Menu registry
  +b.SECTION.menu--registry(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title
      +e.A.title-link(href="page.html") Реестры
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Реестр штрих-кодов
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Реестр добровольной системы сертификации «Система качества ЕАС»
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Реестр зарегистрированных нотификаций (уведомлений)
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Реестр Свидетельств о госрегистрации
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Государственный реестр медицинских изделий и организаций (индивидуальных предпринимателей), осуществляющих производство и изготовление медицинских изделий
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Реестр документов на сайте Росаккредитации
    +e.A.link-more(href="page.html") Подробнее >>


