<section class="advantages">
  <div class="advantages__inner">
    <h2 class="advantages__title">Почему с нами удобно работать: </h2>
    <ul class="advantages__list">
      <li class="advantages__item">Портал ФОРУМТЕСТ предоставляет возможность быстро узнать интересующую Вас информацию по тому, как быстро, пройти сертификацию продукции и услуг. В какую стоимость для вас обойдется оформление документа.</li>
      <li class="advantages__item">Также специалисты со всей страны смогут ответить на любой ваш вопрос по сертификация продукции, услуг, выполняемых работ, а также сертификации менеджмента качества по международным стандартам ISO.</li>
      <li class="advantages__item">После консультации у вас не останется вопросов, а как же законно продавать товары, завезенные из Китая или произведенные самостоятельно.</li>
      <li class="advantages__item">Мы будем рады помочь вам разобраться в каждом интересующем вас вопросе, как пройти сертификацию и получить все нужные документы.</li>
    </ul>
  </div>
</section>