<section class="certification-links">
  <div class="certification-links__block">
    <h2 class="certification-links__title">
      <a class="certification-links__title-link" href="page.html">Все о Сертификации </a>
    </h2>
    <ul class="certification-links__list">
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Сертификация</a>
        <ul class="certification-links__sublist">
          <li class="certification-links__item">
            <a class="certification-links__link" href="page.html">Обязательная сертификация</a>
          </li>
          <li class="certification-links__item">
            <a class="certification-links__link" href="page.html">Добровольная сертификация</a>
          </li>
        </ul>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Декларирование</a>
        <ul class="certification-links__sublist">
          <li class="certification-links__item">
            <a class="certification-links__link" href="page.html">Пожарное декларирование</a>
          </li>
          <li class="certification-links__item">
            <a class="certification-links__link" href="page.html">Понятие декларирования</a>
          </li>
          <li class="certification-links__item">
            <a class="certification-links__link" href="page.html">Таможенное декларирование</a>
          </li>
        </ul>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Санитарно-эпидемиологический надзор</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Государственная регистрация</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Таможенный союз</a>
      </li>
    </ul>
  </div>
  <div class="certification-links__block">
    <h2 class="certification-links__title">
      <a class="certification-links__title-link" href="page.html">Собираем документы </a>
    </h2>
    <ul class="certification-links__list">
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Документы на сертификат</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Документы на декларацию</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Документы на Госрегистрацию</a>
      </li>
    </ul>
  </div>
  <div class="certification-links__block">
    <h2 class="certification-links__title">
      <a class="certification-links__title-link" href="page.html">Полезные ссылки </a>
    </h2>
    <ul class="certification-links__list">
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Центры по сертификации</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Государственные структуры</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Аттестация рабочих мест</a>
      </li>
      <li class="certification-links__item">
        <a class="certification-links__link" href="page.html">Международный центр сертификации РОСТЕСТ</a>
      </li>
    </ul>
  </div>
  <div class="certification-links__block">
    <h2 class="certification-links__title">
      <a class="certification-links__title-link" href="page.html">Регистрация товарных знаков </a>
    </h2>
  </div>
</section>