<!-- Footer-->
<footer class="footer">
  <div class="counters">
    <div class="counters__item"> </div>
  </div>
  <div class="copyright">©2009-2016
    <a class="copyright__link" href="index.html">FORUMTEST</a>
  </div>
</footer>
<a class="docs-pic" href="page-application.html"> </a>
<a class="up" href="#"> </a>
<!-- Overlay-->
<div class="overlay">
  <div class="overlay__bg"></div>
  <div class="overlay__form">
    <a class="overlay__close" href="#"></a>
    <!-- Quiz-->
    <section class="quiz">
      <h2 class="quiz__title">Викторина</h2>
      <div class="quiz__text">Выиграйте скидку на оформление сертификата</div>
      <div class="quiz__steps">
        <div class="quiz-step quiz-step--01">
          <h3 class="quiz-step__title">Задание 1 из 5</h3>
          <div class="quiz-step__text">
            <p>1.На кого может быть оформлено свидетельство о госрегистрации (СГР) зарубежной продукции</p>
          </div>
          <fieldset class="quiz-step__fieldset">
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step1" value="option11" />только на российскую компанию импортёра</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step1" value="option12" />на российскую компанию импортёра или зарубежного производителя</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step1" value="option13" />только на зарубежного производителя</label>
          </fieldset>
          <div class="quiz-step__btn">
            <a class="btn btn--quiz" href="#">Далее</a>
          </div>
        </div>
        <div class="quiz-step quiz-step--02">
          <h3 class="quiz-step__title">Задание 2 из 5</h3>
          <div class="quiz-step__text">
            <p>2.Каким знаком маркируется продукция, если на нее оформлен сертификат соответствия ТР ТС</p>
          </div>
          <fieldset class="quiz-step__fieldset">
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step2" value="option21" />СТР</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step2" value="option22" />РСТ</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step2" value="option23" />ЕАС</label>
          </fieldset>
          <div class="quiz-step__btn">
            <a class="btn btn--quiz" href="#">Далее </a>
          </div>
        </div>
        <div class="quiz-step quiz-step--03">
          <h3 class="quiz-step__title">Задание 3 из 5</h3>
          <div class="quiz-step__text">
            <p>3.На кого может быть оформлено свидетельство о госрегистрации (СГР) зарубежной продукции</p>
          </div>
          <fieldset class="quiz-step__fieldset">
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step3" value="option31" />только на российскую компанию импортёра</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step3" value="option32" />на российскую компанию импортёра или зарубежного производителя</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step3" value="option33" />только на зарубежного производителя</label>
          </fieldset>
          <div class="quiz-step__btn">
            <a class="btn btn--quiz" href="#">Далее</a>
          </div>
        </div>
        <div class="quiz-step quiz-step--04">
          <h3 class="quiz-step__title">Задание 4 из 5</h3>
          <div class="quiz-step__text">
            <p>4.Каким знаком маркируется продукция, если на нее оформлен сертификат соответствия ТР ТС</p>
          </div>
          <fieldset class="quiz-step__fieldset">
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step4" value="option41" />СТР</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step4" value="option42" />РСТ</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step4" value="option43" />ЕАС</label>
          </fieldset>
          <div class="quiz-step__btn">
            <a class="btn btn--quiz" href="#">Далее </a>
          </div>
        </div>
        <div class="quiz-step quiz-step--05">
          <h3 class="quiz-step__title">Задание 5 из 5</h3>
          <div class="quiz-step__text">
            <p>5.На кого может быть оформлено свидетельство о госрегистрации (СГР) зарубежной продукции</p>
          </div>
          <fieldset class="quiz-step__fieldset">
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step5" value="option51" />только на российскую компанию импортёра</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step5" value="option52" />на российскую компанию импортёра или зарубежного производителя</label>
            <label class="quiz-step__label">
              <input class="quiz-step__input" type="radio" name="step5" value="option53" />только на зарубежного производителя</label>
          </fieldset>
          <div class="quiz-step__btn">
            <a class="btn btn--quiz" href="#">Далее </a>
          </div>
        </div>
        <div class="quiz-step quiz-step--total">
          <h3 class="quiz-step__title">Информация</h3>
          <section class="form form--quiz">
            <form action="" method="">
              <div class="form-group field-name">
                <div class="form__description">Ваше имя</div>
                <input class="form__input" type="text" name="Имя" />
                <p class="help-block">Ошибка заполнения поля формы</p>
              </div>
              <div class="form-group field-email required">
                <div class="form__description">Ваш email*</div>
                <input class="form__input" type="email" name="Email" />
                <p class="help-block">Ошибка заполнения поля формы</p>
              </div>
              <div class="form-group field-hidden">
                <input class="form__input" type="hidden" name="step1" />
              </div>
              <div class="form-group field-hidden">
                <input class="form__input" type="hidden" name="step2" />
              </div>
              <div class="form-group field-hidden">
                <input class="form__input" type="hidden" name="step3" />
              </div>
              <div class="form-group field-hidden">
                <input class="form__input" type="hidden" name="step4" />
              </div>
              <div class="form-group field-hidden">
                <input class="form__input" type="hidden" name="step5" />
              </div>
              <div class="form-group">
                <button class="btn btn--form" type="submit">Завершить тест</button>
                <p class="help-block help-block-success">Результаты вашего теста отправлены</p>
              </div>
            </form>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>