<!-- Header-->
<header class="header">
  <div class="header__inner">
    <!-- Logo-->
    <div class="header__logo">
      <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
        <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
      </a>
      <h2 class="header__title">Единый портал сертификации</h2>
    </div>
    <!-- Promo-->
    <div class="header__promo">
      <div class="promo">
        <h2 class="promo__title">Консультация от менеджеров центра сертификации</h2>
        <ul class="promo__list">
          <li class="promo__item">Компетентные специалисты</li>
          <li class="promo__item">Быстрые ответы</li>
          <li class="promo__item">Бесплатная консультация</li>
        </ul>
      </div>
    </div>
    <div class="header__btn">
      <a class="btn btn--violet-header" href="page-call.html">Да, позвоните мне</a>
    </div>
  </div>
</header>