<aside class="sidebar sidebar--left">
  <!-- Menu necessary-->
  <section class="menu menu--necessary" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">
      <a class="menu__title-link" href="page.html">Самое необходимое</a>
    </h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Проверка документов</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">ГОСТы</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">ОКУН</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Коды ОКП</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">ОКПд</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Коды ТНВЭД</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">ОКВЭД</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">ОКВЭД 2</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Перечень на Госрегистрацию</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Перечень на сертификат</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Перечень на декларацию</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Технические регламенты</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Законы</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Постановления</a>
      </li>
    </ul>
    <a class="menu__link-more" href="page.html">Подробнее >></a>
  </section>
  <!-- Menu certificates-->
  <section class="menu menu--certificates" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">
      <a class="menu__title-link" href="page.html">Сертификаты</a>
    </h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Декларация о соответствии</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Декларация соответствия Таможенного Союза</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Свидетельство государственной регистрации</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Письмо-разъяснение Роспотребнадзора</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат ЕВРО</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат Евро 5</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Добровольный сертификат</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Отказное письмо для таможни</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Отказное письмо для торговли</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Озоновое заключение</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Пожарный сертификат</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат ISO</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Технические условия</a>
      </li>
    </ul>
    <a class="menu__link-more" href="page.html">Подробнее >></a>
  </section>
  <!-- Menu general-->
  <section class="menu menu--general">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Частые вопросы</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Словарь по сертификации</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Где получить сертификат</a>
      </li>
    </ul>
  </section>
  <!-- Advertisments-->
  <section class="advertisments">
    <div class="advertisments__banner">
      <img src="img/slider.gif" alt="banner" title="banner" />
    </div>
  </section>
</aside>