<nav class="nav">
  <div class="nav__hamburger nav__hamburger--left">
    <a class="hamburger" href="#">
      <span></span>
    </a>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="btn btn--green" href="page-application.html">Рассчитать стоимость</a>
    </li>
    <li class="nav__item">
      <a class="btn btn--blue" href="page-questions.html">Получить консультацию</a>
    </li>
    <li class="nav__item">
      <a class="btn btn--violet" href="page-contacts.html">Центры сертификации</a>
    </li>
    <li class="nav__item">
      <a class="btn btn--orange-bright" href="#">Выиграйте скидку на оформление сертификата</a>
    </li>
  </ul>
  <div class="nav__hamburger nav__hamburger--right">
    <a class="hamburger" href="#">
      <span></span>
    </a>
  </div>
</nav>