<section class="news-section">
  <h2 class="news-section__title">Новости</h2>
  <div class="news-section__articles">
    <article class="news-section-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h3 class="news-section-item__title" itemprop="headline">
        <a class="news-section-item__link" href="page.html">ЕЭК подписала Соглашение о правилах перемещения озоноразрушающих веществ</a>
      </h3>
      <div class="news-section-item__date" itemprop="datePublished">31.08.2016</div>
      <div class="news-section-item__text" itemprop="articleSection">29 мая 2015-го Евразийская комиссия на прошедшем заседании в Бурубае в Казахстане подписала Соглашение, согласно которому утверждаются правила перемещения и обращения на территории ЕАЭС озоноразрушающих веществ, а также продукции, их содержащей.
        Нормы перевозки и оценки качества также указаны в подписанном законодательном документе. О нововведениях Соответственно Соглашению перемещение озоноразрушающих веществ станет невозможным без оформления специального разрешительного […]</div>
    </article>
  </div>
  <a class="news-section__link" href="page-news.html">Все новости </a>
</section>