<aside class="sidebar sidebar--right">
  <!-- Date-->
  <div class="date">Сегодня:
    <div class="date__changing">
      <span>9 декабря 2016</span>
      <span>13:55:42</span>
    </div>
  </div>
  <!-- Form search-->
  <div class="form form--search">
    <form action="" method="">
      <div class="form-group field-search">
        <input class="form__input" type="text" name="Поиск" placeholder="Поиск по сайту..." />
      </div>
    </form>
  </div>
  <!-- Form authentification-->
  <div class="form form--authentification">
    <form action="" method="">
      <div class="form-group field-login">
        <div class="form__description">Имя пользователя</div>
        <input class="form__input" type="text" name="Логин" />
        <p class="help-block">Ошибка заполнения поля формы</p>
      </div>
      <div class="form-group field-password">
        <div class="form__description">Пароль</div>
        <input class="form__input" type="password" name="Пароль" />
        <p class="help-block">Ошибка заполнения поля формы</p>
      </div>
      <div class="form-group field-search">
        <input class="form__input" type="checkbox" name="Запомнить" />
        <span class="form__remember">Запомнить меня</span>
      </div>
      <div class="form-group">
        <button class="btn btn--form" type="submit">Войти</button>
      </div>
    </form>
    <a class="form__link" href="page.html">Регистрация</a>
    <a class="form__link" href="page.html">Забыли пароль?</a>
  </div>
  <!-- Menu production-->
  <section class="menu menu--production" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">
      <a class="menu__title-link" href="page.html">Сертификация продукции</a>
    </h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация автомобилей</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация алкоголя</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация БАД</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация дверей</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация детской одежды</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация замков</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация медицинских изделий</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация муки</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация тротуарной плитки</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация шоколада</a>
      </li>
    </ul>
    <a class="menu__link-more" href="page.html">Найти свою продукцию >></a>
  </section>
  <!-- Menu cost-->
  <section class="menu menu--cost" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">
      <a class="menu__title-link menu__title-link--cost" href="page-application.html">Рассчитать стоимость</a>
    </h3>
  </section>
  <!-- Menu customs-->
  <section class="menu menu--customs" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">
      <a class="menu__title-link" href="page.html">Таможенный союз</a>
    </h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Постановления Таможенного Союза</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Техническое регулирование</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Санитарные меры</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Ветеринарные меры</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Карантин растений</a>
      </li>
    </ul>
    <a class="menu__link-more" href="page.html">Подробнее >></a>
  </section>
  <!-- Menu registry-->
  <section class="menu menu--registry" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">
      <a class="menu__title-link" href="page.html">Реестры</a>
    </h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Реестр штрих-кодов</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Реестр добровольной системы сертификации «Система качества ЕАС»</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Реестр зарегистрированных нотификаций (уведомлений)</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Реестр Свидетельств о госрегистрации</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Государственный реестр медицинских изделий и организаций (индивидуальных предпринимателей), осуществляющих производство и изготовление медицинских изделий</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Реестр документов на сайте Росаккредитации</a>
      </li>
    </ul>
    <a class="menu__link-more" href="page.html">Подробнее >></a>
  </section>
</aside>